# nginx.conf.template

events {}

http {
    server {
        listen 80;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }

        location /query {
            # Execute the query script
            alias /usr/share/nginx/html;
            fastcgi_pass  unix:/var/run/fcgiwrap.socket;
            include       fastcgi_params;
            fastcgi_param SCRIPT_FILENAME /usr/share/nginx/html/query_db.sh;
        }
    }
}
